<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="index.html"> Cart</a>
    <form  method="post">
        <p>Product:</p>
        <input placeholder="Product" type="text" name="product">

        <p>Price:</p>
        <input placeholder="Price" type="text" inputmode="decimal" name="price" pattern="[0-9]*[.,]?[0-9]*">

        <input type="submit" value="submit">
    </form>
</body>
</html>